<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BsControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BsControl.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wseDocReciboSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.soriana.com/recibecfd/wseDocRecibo.asmx"
                binding="basicHttpBinding" bindingConfiguration="wseDocReciboSoap"
                contract="wsSorianaProduccion.wseDocReciboSoap" name="wseDocReciboSoap" />
        </client>
    </system.serviceModel>
    <userSettings>
        <BsControl.My.MySettings>
            <setting name="Usuario" serializeAs="String">
                <value>dba</value>
            </setting>
            <setting name="Mostrar_Imagen_de_Fondo" serializeAs="String">
                <value>NO</value>
            </setting>
            <setting name="ImpresoraEtiquetas" serializeAs="String">
                <value>Generic / Text Only</value>
            </setting>
            <setting name="MostrarEmpresas" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ModoSistema" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MostrarModoSistema" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PrecargarLogins" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BaseDatos1" serializeAs="String">
                <value>AGRINET_LAND_TEST</value>
            </setting>
            <setting name="BaseDatos2" serializeAs="String">
                <value>AGRINET_LAND_S</value>
            </setting>
            <setting name="BaseDatos3" serializeAs="String">
                <value>AGRINET_LAND_TEST</value>
            </setting>
            <setting name="Servidor2" serializeAs="String">
                <value>PCSISTEMASJORGE\SQL14</value>
            </setting>
            <setting name="Servidor3" serializeAs="String">
                <value>DANIEL-PC\SQL14</value>
            </setting>
            <setting name="MostrarServidores" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AliasServidor1" serializeAs="String">
                <value>LOCAL</value>
            </setting>
            <setting name="AliasServidor2" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="AliasServidor3" serializeAs="String">
                <value>DANIEL</value>
            </setting>
            <setting name="BaseDatos" serializeAs="String">
                <value>AGRICONTROL_BIOLOGOS</value>
            </setting>
            <setting name="Servidor" serializeAs="String">
                <value>PCSISTEMASJORGE\SQL14</value>
            </setting>
            <setting name="Servidor4" serializeAs="String">
                <value>PCSISTEMASJORGE\SQL12</value>
            </setting>
            <setting name="AliasServidor4" serializeAs="String">
                <value>C2</value>
            </setting>
            <setting name="BaseDatos4" serializeAs="String">
                <value>COMER2</value>
            </setting>
            <setting name="Servidor1" serializeAs="String">
                <value>PCSISTEMASJORGE\SQL14</value>
            </setting>
            <setting name="ModoExeCarpetaUsuario" serializeAs="String">
                <value>0</value>
            </setting>
        </BsControl.My.MySettings>
    </userSettings>
    <applicationSettings>
        <BsControl.My.MySettings>
            <setting name="Ruta" serializeAs="String">
                <value>C:\BsControl</value>
            </setting>
        </BsControl.My.MySettings>
    </applicationSettings>
</configuration>
